body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  /* background-color: #e07a5f; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: #f3f0f0;
  /* background-color: #ffb4a2; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 500px;
  width: 300px;
  text-align: center;
}
.login-container h2 {
  margin-bottom: 20px;
  color: rgb(134, 26, 26);
}
.login-container input[type="text"],
.login-container input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}
.login-container input[type="submit"] {
  width: 100%;
  /* background-color: #007bff; */
  background-color: rgb(134, 26, 26);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}
.login-container input[type="submit"]:hover {
  /* background-color: #0056b3; */
  background-color: rgb(193, 11, 11);
}
input:invalid {
  border-color: red;
}
input:valid {
  border-color: green;
}
