* {
  box-sizing: border-box;
}

/* CSS Custom Properties */
:root {
  --main-bg: #eaf1ef;
  /* --top-menu-bg: #0e9aa7; */
  /* --sub-menu-bg: #3da4ab; */

  --top-menu-bg: rgb(158, 41, 41);
  --sub-menu-bg: rgb(221, 70, 70);
}

body {
  height: 100vh;
  margin: 0;
  background-color: #e07a5f;
  /* display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */

  /* display: grid;
  grid-template-rows: 3rem auto; */
  color: rgb(158, 41, 41);
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  line-height: 3rem;
  padding: 0 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#top-menu a:hover {
  background-color: var(--sub-menu-bg);
}
header,
#top-menu {
  position: relative;
}
#top-menu {
  width: 100vw;
  z-index: 20;
  font-family: Tahoma, Geneva, sans-serif;
}
#sub-menu {
  font-family: Tahoma, Geneva, sans-serif;
  width: 100%;
  z-index: 10;
  transition: top 0.5s ease-out;
}
#sub-menu a:hover {
  background-color: var(--top-menu-bg);
}
nav a.active {
  background-color: var(--sub-menu-bg);
  color: var(--main-bg);
}
